{% extends "base.html" %}
{%block title%} Add Song {%endblock title %}
{%block content %}
<div class="container">
    <div class="row">

        <div class="col-md-10 col-xs-12 col-sm-10">
            <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
                {%csrf_token%}
                {%include 'music/form-template.html'%}
                <div class="form-group">
                    <div class="col-sm-offset-2 col-md-8">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>

                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}